<!-- Home  -->
<div id="wrapperHome">
    <!-- Header -->
    <div class="header">
        <div class="title-container">
            <label class="title">Domicilios Test</label>
        </div>
        <label class="title-user">
            Hola! Juan
        </label>
    </div>
    <!-- Body -->
    <div class="body">
        <!-- Create publication -->
        <create-publication-root>
        </create-publication-root>
        <!-- List publications -->
        <list-publications-root>
        </list-publications-root>
    </div>
</div>